<!--Design for committing files to repository -->
<!--@author
Aanchal Tandel (aanchalmanharbhai.tandel@student.csulb.edu)
Krishna Desai (krishna.desai@student.csulb.edu)
Nithin Reddy Allala (nithinreddy.allala@student.csulb.edu)
Priya M Joseph (priya.medackeljoseph@student.csulb.edu)
Sujata Patil (sujata.patil@student.csulb.edu)-->
<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Form page</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>

    <style>
        input[type=button], input[type=submit], input[type=reset] {
            background-color: #00B7FF;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
            width: 200px;
        }
        input{
            margin:20px;
            padding:10px;
        }
        input[type=”text”],
        textarea {
            width:200px;
            margin:5px;
            padding:5px;
            height:30px;
            display: block;
        }
        textarea{
            resize:none;
            height:60px;
        }
        body {
            justify-content: center;
            text-align: center;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            border-radius: 5px;
            padding:30px;
            margin-top:20px ;
            margin-left: 250px;
            margin-right: 250px;
        }


        /* selected link */
        a:active,a:hover {
            color: black;
        }
        a:link, a:visited {
            background-color: dimgrey;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div></div>

<form action='/checkin' method='POST' enctype="multipart/form-data">
    <h1>Commit Files</h1>

    <a href="/">Home</a>
    <a href="/create">Create</a>

    <a href="/checkin">Checkin</a>
    <a href="/checkout">Checkout</a>
    <br>
    <br>
    Source Path:<input type="text" name="srcpath" ID='srcpath'><br>
    Label1:<input type="text" name="l1" ID="lbl1"><br>
    Label2:<input type="text" name="l2" ID="lbl2"><br>
    Label3:<input type="text" name="l3" ID="lbl3"><br>
    Label4:<input type="text" name="l4" ID="lbl4"><br>
    Target Path:<input type="text" name="trgt" ID="trgt"><br>
    <br>
    <br>


    <input type='submit'/>
</form>

<script>

    $('form').on('submit',makeRequest);
    function makeRequest(e){
        e.preventDefault();
        $.ajax({
            url:'/checkin',
            data: $("form").serialize(),
            type : 'POST',
            dataType: 'json',
            success:function (result) {

                alert("Files Committed");
                document.getElementById('srcpath').value = '';
                document.getElementById('lbl1').value = '';
                document.getElementById('lbl2').value = '';
                document.getElementById('lbl3').value = '';
                document.getElementById('lbl4').value = '';
                if(result.status == 200){
                    self.isEditMode(!self.isEditMode());
                }
            },
            error: function(result){
               alert(result.message.toString());
            }
        });
    }
</script>
</body>
</html>
